footer {
    background-color: #8B7A7A;
    width: 100%;
    height: 246px;
  }
  .footer-text{
    font-family: 'Montserrat';
    font-size:14px;
    font-weight: 300;
    color: white;
  }
  .footer-text div{
    margin-top:15px;
  }
  #footer-icons{
    margin-top:15px;
  }
  #footer-icons a{
    text-decoration: none;
  }
  #footer-icons a:hover{
    opacity: 0.7;
  }
  #footer-icons a svg{
   width: 20px;
   height: 20px;
   fill: white;
  }
  #copyright-text{
    margin-top: 50px;
  }
  #resource{
   margin-top: 195px;
   margin-right: 340px;
  }
  #logo-img-footer{
    width: 49.89px;
    height: 36.46px;
    float: right;
    margin-top: 196px;
  }

  @media screen and (max-width: 1200px){
    .row-7{
      flex-wrap: wrap;
    }
    footer{
      height: auto;
    }
    .footer-text,#footer-icons,#copyright-text,#footer-logo{
      width: 100%;
      margin-left: 90px;
    }
    #footer-icons,#copyright-text{
      margin-left: 0px;
    }
    #copyright-text,#resource{
      margin-top: 25px;
      margin-bottom: 0;
    }
    #logo-img-footer{
      float: left;
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 700px){
    .footer-text,#footer-logo{
      margin-left: 30px;
    }
    #resource{
      margin-right: 0;
    }
  }
