body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.main-content{
  display: flex;
  flex-direction: column;
  flex-grow:1;
  align-items: stretch;
  overflow: hidden;
  height: 100%;
}
/*----------Ред две: Биография--------*/
.start-col{
  width: 6%;
}

#image-2{
  margin-top: 35px;
}
#claude-portrait{
  width: 190px;
  height: 190px;
}
.label{
  font-family: 'Skranji';
  font-size: 20px;
  color: #867070;
  text-align: center;
  margin-top: 15px;
}
.text{
  font-family: 'Montserrat';
  font-size:16px;
  font-weight: 300;
  width: 842px;
  margin-top: 10px;
}
#text-2{
  margin-top: 30px;
}
.end-col{
  width:10%;
}
.row-divider{
  position: relative;
  z-index: 3;
}
.row-divider img{
  width: 100%;
  position: absolute;
}
#divider-2{
  margin-bottom: 14px;
}
/*----------Ред три: Ранен живот--------*/
.row-3{
  background-color: #BFBABA;
  height:auto;
  z-index: 1;
}
#text-3{
  margin-left: 70px;
}
#label-3{
  float: left;
}
#text-3-1{
  display: inline-block;
  margin-top: 5px;
}
#image-3{
  margin-top: 45px;
  margin-bottom: 30px;
}
#early-life-pic{
  width: 250px;
  height: 292px;
}
#divider-3{
  margin-top: -16px;
}
/*----------Ред четири: Giverny--------*/
#label-image{
  margin-left:100px;
}
#image-4{
  width: 389px;
  height: 317px;
}
.middle-col{
  width: 5%;
}
#label-4{
  margin-top: 30px;
  margin-bottom: 35px;
  float: left;
}
 #text-4{
  margin-left: 30px;
  margin-top: 80px;
  margin-bottom: 30px;
 }
 #divider-4{
  margin-bottom: 15px;
}
/*----------Ред пети: The Life Of Claude Monet--------*/
.row-5{
  background-color: #BFBABA;
}
#label-5{
  float: left;
  margin-left: 80px;
}
#text-5{
  margin-top: 10px;
  margin-bottom: 80px;
}
#text-5-1{
  display: inline-block;
  margin-left: 80px;
}
#video-5{
  margin-top: 80px;
}
#video{
  width:560px;
  height:303px;
  margin-right: 80px;
}
#divider-5{
  margin-top: -16px;
}
/*----------Ред шест: Museum of Impressionism Giverny--------*/
.row-6{
 height: 442px;
}
.map{
  margin-top: 20px;
  margin-left: 100px;
}
#museum-map{
  width:534px;
  height:116px;
}
#label-6{
 float: left;
}
#text-6{
 margin-top: 60px;
 display: inline-block;
 margin-bottom: 50px;
}
#footer-div-icon{
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  margin-top: -30px;
}
#divider-6{
  position: absolute;
  z-index:2;
  left: 50%;
}

@media screen and (min-width: 1600px){
    .row-divider{
      display: hidden;
    }
}

@media screen and (max-width: 1200px){
  .row-2,.row-3,.row-4,.row-5,.row-6{
    width: auto;
  }
  #divider-2{
    margin-bottom: 11px;
  }
  #divider-3{
    margin-top: -13px;
  }
  #divider-4{
    margin-bottom: 10px;
  }
  #divider-5{
    margin-top: -11px;
  }
  #text-3{
    margin-left: 35px;
  }
  #label-image{
    margin-left: 45px;
  }
  #label-3.label, #label-4.label {
    margin-left: 0px;
  }
  #label-image{
    width: 100%;
    margin-left: 90px;
  }
  #label-4{
    width: 100%;
    text-align: left;
  }
  #text-4{
    margin-right: 250px;
  }
  .row-5,.row-4,.row-6{
    flex-wrap: wrap;
  }
  #text-5{
    margin-bottom: 20px;
  }
  #text-5-1{
    margin-left: 5px;
    margin-right: 130px;
  }
  #label-5{
    margin-left: 5px;
    margin-right: 130px;
  }
  #video-5{
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 80px;
  }
  .map,#label-6{
    width: 100%;
    text-align: left;
  }
  #text-6{
    margin-left: 30px;
    margin-right: 240px;
  }
}

@media screen and (min-width: 1800px){
.row-divider{
  visibility: hidden;
}
#label-4{
  width: 100%;
  text-align: left;
}
}
@media screen and (max-width: 1800px){
  #text-6,#text-5,#text-4{
    margin-left: 30px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 700px){
  .row-2, .row-3, .row-4, .row-5, .row-6{
    flex-wrap: wrap;
  }
  #divider-2{
    margin-bottom: 5px;
  }
  #divider-3{
    margin-top: -7px;
  }
  #divider-4{
    margin-bottom: 7px;
  }
  div #image-2{
    width: 100%;
    margin-left: 30px;
  }
  #label-2{
   text-align: left;
   margin-left: 30px;
  }
  div .text{
    margin-left: 30px;
    margin-right: 30px; 
  }
  .row-3{
    height: auto;
  }
  #text-3{
    margin-left: 30px;
  }
  #label-3.label{
    margin-left: 0px;
  }
  div #image-3{
    margin-top:10px;
    margin-bottom: 50px;
    width: 100%;
    margin-left: 30px;
  }
  #label-3{
   text-align: left;
   margin-left: 30px;
  }
  #label-image{
    margin-left: 30px;
  }
  #label-4{
   width: 100%;
   text-align: left;
  }
  #text-5{
    margin-left: 30px;
  }
  #video{
    margin-left: 50px;
    width: auto;
  }
 .map{
  width: 100%;
  margin-left: 30px;
 }
 .row-6{
  height: auto;
 }
}
