.b-text-l-all{
    margin-top: 20px;
    margin-left:150px;
}
.b-text-l{
    width: 508px;
    height: auto;
    margin-bottom: 100px;
}
.b-text-r-all{
    margin-right: 30px;
    margin-top: 20px;
}
.b-text-r{
    width: 520px;
    height: auto;
    margin-bottom: 100px;
}
.vertical-line{
    margin-top: 90px;
    margin-bottom: 170px;
    margin-right: 50px;
    margin-left: 80px;
    border-left:solid 2px #e6e6e6;  
}

@media screen and (max-width: 1385px){
    .b-row-2, .b-row-3, .b-row-4, .b-row-5, .b-row-6{
        flex-wrap: wrap;
      }
      .b-text-l-all{
        margin-left: 60px;
        margin-right: 10px;
      }
      .vertical-line{
        margin-left: auto;
        margin-right: auto;
      }
}
@media screen and (max-width: 1288px){
    .b-text-l-all{
        width: 100%;
        margin-left: 120px;
    }
    .b-text-l{
        width: 90%;
    }
    .b-text-r-all{
        width: 100%;
        margin-left: 120px;
    }
    .b-text-r{
        width: 90%;
    }
    .vertical-line{
       display: none;
    }
    #b-text-giverny-2-all{
        margin-top: 0;
    }
    #b-text-giverny-1{
        margin-bottom: 0;
    }
    #b-text-giverny-2{
        margin-top: 0;
    }
}
@media screen and (max-width: 700px){
    .b-text-l-all{
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .b-text-r-all{
        margin-left: 30px;
    }
    .b-text-l{
        margin-left: 0px !important;
        margin-bottom: 0;
    }
    .b-text-r{
        margin-left: 0px !important;
        margin-bottom: 0;
    }
    #label-franco{
        text-align: justify;
    }
    #last-text{
        margin-bottom: 100px;
    }
    #b-text-giverny-1-all{
        margin-bottom: 0;
    }
    
}
